# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Secrets
.env
.env.*
!.env.example

# SQLite local
db.sqlite3
db.sqlite3-journal

# Django
static/
media/

# Tests / cache
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
